/* Car list styling */
.car-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
}

.car-item {
  width: 300px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.car-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

.car-item h2 {
  font-size: 22px;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
}

.car-item p {
  font-size: 16px;
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
}

/* Search bar styling */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  font-family: 'Montserrat', sans-serif;
}

.search-bar {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

.search-icon {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Montserrat', sans-serif;
}

.search-icon:hover {
  background-color: #0056b3;
}

/* Responsive design */
@media (max-width: 768px) {
  .search-bar {
    width: 200px;
  }
}
