<app-nav></app-nav>

<div class="search-container">
  <input type="text" placeholder="Search cars..." class="search-bar">
  <button class="search-button">Search</button>
</div>
<div class="car-list">
  <div *ngFor="let car of cars" class="car-item">
    <img [src]="car.image_url" [alt]="car.make + ' ' + car.carmodel">
    <h2>{{ car.make }} {{ car.carmodel }}</h2>
    <p>Year: {{ car.year }}</p>
    <p>Price: ${{ car.price }}</p>
    <p>Mileage: {{ car.mileage }} miles</p>
    <p>{{ car.description }}</p>
  </div>
</div>
<!-- <pagination-controls>
(pageChange)="onPageChange($event)" 
[totalItems]="totalItems" 
[itemsPerPage]="itemsPerPage"
[maxSize]="5"
[directionLinks]="true"
[autoHide]="true">
</pagination-controls> -->

<app-footer></app-footer>
